/*
 * Basic CSS starts 
 */
 
html{
	scroll-behavior: smooth;
} 
body{
	color: #252c37;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	background-color: black;	
}

/* secondary menu */

.secondary-menu {
	position: fixed;
	z-index: 99999;
	width: 100%;
	background: rgba(0,0,0,0.9);
}
.secondary-menu .sm-left {
	float: left;
	text-align: left;
}

.logo{
	justify-content: center;
	font-size: 20px;
}
.secondary-menu .sm-left a {
	color: #ccc;
}

.secondary-menu .sm-right {
	float: right;
	text-align: right;
}

.secondary-menu .sm-left,
.secondary-menu .sm-right {
	line-height: 40px;
	color: #fff;
}

.secondary-menu .sm-social-link a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.3);
}

/* banner */

/* banner slider */

.wrapper{
	overflow: hidden !important;	
}

.banner img{	
	height: 100vh !important;	
}



.banner .carousel .item{
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 0.5s;
  -ms-animation-duration: 3s;
  -ms-animation-delay: 0.5s;
  -o-animation-duration: 3s;    
  -o-animation-delay: 0.5s;    
  animation-duration:3s;
  animation-delay:0.5s;
}
.banner .carousel .carousel-caption h2,
.banner .carousel .carousel-caption h3 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 1s;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 1s;
  -o-animation-duration: 2s;    
  -o-animation-delay: 1s;    
  animation-duration:2s;
  animation-delay:1s;
}

.banner .carousel .carousel-caption h2 i {	
  	display: inline-block;
  	margin-right: 12px;
}

.banner .carousel .carousel-caption p{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 1s;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 1s;
  -o-animation-duration: 2s;    
	-o-animation-delay: 1s;      
  animation-duration:2s;
  animation-delay:1s;
}

.banner .carousel .carousel-caption .btn{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2.5s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 2.5s;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 2.5s;
  -o-animation-duration: 2s;    
  -o-animation-delay: 2.5s;    
  animation-duration:2s;
  animation-delay:2.5s;
}

.banner .carousel .carousel-control{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	display: inline-block;
	font-size: 18px;
	text-align: center;
	background: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
	border:0;
	opacity: 1;
	text-shadow: none;
}

.banner .carousel .carousel-control span {
	width: 50px;
	height: 50px;
	line-height: 52px;
	font-size: 22px;
}

.banner .slide-one, .banner .slide-two {
	bottom: inherit;
	top: 250px;
	text-align: left;
	height: 50vh !important;
}
.banner .slide-one h2, .banner .slide-two h2 {
	margin-bottom: 15px;
	font-size: 52px;
	line-height: 42px;
	font-weight: 300;
	color: #fff;
	font-family: 'Suez One', serif;
}

.banner .slide-one h3, .banner .slide-two h3 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	font-family: 'Comfortaa', cursive;
}

.banner .slide-one .btn,
.banner .slide-two .btn {
	display: inline-block;
	margin-top: 15px;
	padding: 12px 32px;
	font-size: 16px;
}

/*
 * Responsive CSS 
 */

@media (max-width: 991px){
	.banner .slide-one, .banner .slide-two {top: 40px;}
	.banner img{
		height: auto !important;
	}
	.banner .carousel-caption h2{
		font-size: 25px !important;
	}
	.banner .carousel-caption h3{
		font-size: 13px !important;
	}
}

/* upload form */
form {
	width: 225px;
	margin: 0 auto;
	text-align:center;	
}  
#form{	
	padding: 20px;
}
.form-control{
	color: rgb(0, 0, 0);
	background-image: linear-gradient(to bottom, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
}

.blockquote-wrapper {
	display: flex;   	
   	padding: 0 20px;
	box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.144);
	border-left: 2px solid rgb(255, 0, 85);
	margin-left: 10%;
	margin-top: 10%;
}
.blockquote{	
	color: rgb(54, 203, 214);
}


/* form hover */
.gradient_anime{
	background: linear-gradient(146deg, #051937, #652f64, #c64563, #fc873a, #ebe212);
    background-size: 1000% 1000%;
	-webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    -o-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.form_u{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 20px auto;
	width: 250px;
	height: 250px;
	background-image: linear-gradient(to right top, #051937, #652f64, #c64563, #fc873a, #ebe212);	
	border-radius: 75px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	letter-spacing: 2px;
	transition: 1s box-shadow;
  }
  
.form_u:hover {
	box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
.form_u:hover:before, .form_u:hover:after {
	display: block;
	content: '';
	position: absolute;
	width: 250px;
	height: 250px;
	background: #FDA8CF;
	border-radius: 75px;
	z-index: -1;
	animation: 1s clockwise infinite;
  }
  
.form_u:hover:after {
	background: #F3CE5E;
	animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
	0% {
	  top: -5px;
	  left: 0;
	}
	12% {
	  top: -2px;
	  left: 2px;
	}
	25% {
	  top: 0;
	  left: 5px;    
	}
	37% {
	  top: 2px;
	  left: 2px;
	}
	50% {
	  top: 5px;
	  left: 0;    
	}
	62% {
	  top: 2px;
	  left: -2px;
	}
	75% {
	  top: 0;
	  left: -5px;
	}
	87% {
	  top: -2px;
	  left: -2px;
	}
	100% {
	  top: -5px;
	  left: 0;    
	}
  }
  
  @keyframes counterclockwise {
	0% {
	  top: -5px;
	  right: 0;
	}
	12% {
	  top: -2px;
	  right: 2px;
	}
	25% {
	  top: 0;
	  right: 5px;    
	}
	37% {
	  top: 2px;
	  right: 2px;
	}
	50% {
	  top: 5px;
	  right: 0;    
	}
	62% {
	  top: 2px;
	  right: -2px;
	}
	75% {
	  top: 0;
	  right: -5px;
	}
	87% {
	  top: -2px;
	  right: -2px;
	}
	100% {
	  top: -5px;
	  right: 0;    
	}
  }

  /* alert  */
  .alert{
	padding: 10px;
	margin-top: 10% !important;
	position: absolute;
	z-index: 99;
	text-align: center;
  }

  /* spinner */
  #loader{
	background-color: wheat;
	width:100vw;
	height:100vh;  
	position: fixed;    	
	z-index: 999 !important;  	   
	overflow: hidden;      
	justify-content: center !important;
  }
  .spinner {	
	width: 40px;
	overflow: hidden !important;      
	height: 40px;		
	justify-content: center !important;
	display: flex;
	align-items: center;		
  }
  
  .cube1, .cube2 {
	background-color: #333;
	width: 15px;
	height: 15px;
	position: absolute;
	justify-content: center !important;
	
	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
	25% { 
	  transform: translateX(42px) rotate(-90deg) scale(0.5);
	  -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% { 
	  transform: translateX(42px) translateY(42px) rotate(-179deg);
	  -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% { 
	  transform: translateX(42px) translateY(42px) rotate(-180deg);
	  -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% { 
	  transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	  -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% { 
	  transform: rotate(-360deg);
	  -webkit-transform: rotate(-360deg);
	}
  }
  /* loading letters */
  .ml9 {
	position: relative;
	font-weight: 200;	
  }
  
  .ml9 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
  }
  
  .ml9 .letter {
	transform-origin: 50% 100%;
	display: inline-block;
	line-height: 1em;
  }

  .footer{
	padding-top: 10%;
	color: thistle;	
	justify-content: center !important;
	display: flex;  	
  }

@media only screen and (max-width: 1040px) {
	.footer{
	  position: relative;
	  bottom: 0 !important;    
	}
  }    
  /* button */
  .trans_btn{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 20px auto;
  }
  .share-button {				
	width: 300px;
	height: 80px;	
	background: #dfe6e9;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: .3s linear;
  }
  .share-button:hover{
	transform: scale(1.1);
  }
  .share-button span{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right top, #051937, #652f64, #c64563, #fc873a, #ebe212);	
	color: #f1f1f1;
	text-align: center;
	line-height: 80px;
	z-index: 9;
	transition: .6s linear;
	border-radius: 40px;   
  }
  .share-button:hover span{
	transform: translateX(-100%);
	transition-delay: .3s;
  }
  .share-button a {
	flex: 1;
	/* font-size: 26px; */
	margin-right: 20px;
	color: #000000;
	text-align: center;
	transform: translateX(-100%);
	opacity: 0;
	transition: .3s linear;
  }
  .share-button:hover a {
	opacity: 1;
	transform: translateX(0);	
  }
  .share-button p:nth-of-type(1){
	transition-delay: 1s;
  }
  .share-button a:nth-of-type(2){
	transition-delay: .8s;
  }
  .share-button p:nth-of-type(3){
	transition-delay: .6s;
  }  
  
  