{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}}</title>
    {% else %}    
        <title>Transcriber</title>
    {% endif %}
    
    {% block styles %}
        {% bootstrap_css %}            
        <link rel="shortcut icon" href="{% static 'logo.png' %}">                        
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Piedra&family=Suez+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">			
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">		
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">				
		<link href="{% static 'css/style.css' %}" rel="stylesheet">		
		
    {% endblock styles %}

</head>
<body>
    <div id="wrapper-load">
        <div id="loader" class="spinner">            
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>        
    </div>     
    {% block content %}
    {% endblock %}
</body>
{% block scripts %}        
    <script src="https://kit.fontawesome.com/8311960bd4.js" crossorigin="anonymous"></script>    
    <script src="{% static 'js/jquery.js' %}"></script>    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>        
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>    
    <script src="{% static 'js/jquery.nav.js' %}"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>          
    <script>
        function openLoader() {            
            $("#loader").show();
        }

        $(window).load(function() {        
          $("#loader").hide();
        });

        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml9 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: true})
        .add({
            targets: '.ml9 .letter',
            scale: [0, 1],
            duration: 1500,
            elasticity: 600,
            delay: (el, i) => 45 * (i+1)
        }).add({
            targets: '.ml9',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
    </script>
        
    {% bootstrap_javascript %}            
  {% endblock scripts %}
</html>